<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="3:1" md-row-height="5:1" md-gutter="12px" md-gutter-gt-sm="8px" ng-cloak>
    <md-subheader>Trains</md-subheader>
    <md-card ng-repeat="train in trains" ng-cloak>
        <md-card-content>
            <h2 class="md-subheader">{{train.name}}</h2>
            <hr/>
            <span class="md-body-2">Source: {{train.source.name}} ({{train.source.id}})</span><br/>
            <span class="md-body-2">Destination: {{train.destination.name}} ({{train.destination.id}})</span><br/>
            <span class="md-body-2">Distance: {{train.distance}}</span>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="showTrain(train.id);"><md-icon>map</md-icon> Info</md-button>
        </div>
    </md-card>
</md-grid-list>